/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #000;
  
  --ifm-color-primary-dark: #295c78;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme='dark'] {
  --ifm-color-primary: #f0f0f0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */

.container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__logo {
  width:24px;
  height:24px;
  
}

.heading_title {
  display: flex;
  align-items: baseline;
}

.heading_logo {  
  padding-top:5px;
  vertical-align: middle;
  width: 39px;
  margin-right:10px;
  
}

.main_download {
  background: #f6c844;
  width:300px;  
  border-radius: 8px;
  padding: 5px;
  margin-bottom:50px;
}

.main_download:hover {
  background: #186fda;
  
}

.main_download a {
  display:flex;
  align-items: center;
  justify-content: center;
}

.main_download a:hover {
  text-decoration: none;
  color: #eee;
  
}

.main_download svg {
  width: 42px;
  height: 42px;
  margin-left: -10px;

}

.main_download h2 {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  

}

.hero__title {
  /* color: #fff; */
}

body {
  background: #000;
  
  }

.container {
  
color: #fff;
}

.footer {
  background: #000;
}

/* Fix footer link hover states */
.footer__link-item {
  color: #999 !important;
}

.footer__link-item:hover {
  color: #60a1d0 !important;
  text-decoration: none !important;
}

.footer__title {
  color: #fff !important;
}

